 /* Styling for the body */
 body{
    /* Set body display to flex, align items and justify content to center to center content vertically and horizontally */
    
    display: flex; /* display in flexbox layout, allow the element to shrink and expand*/
    align-items: center;/* align items to the center horizontally*/
    justify-content: center;/* align items to the center vertically, on the main axis*/
    background-image: url('truck1.jpeg'); /* Set background image with URL truck1.jpeg */
    background-size: cover; /* Set background size to cover so as the body can occupy the whole space of the device screen */
    background-repeat: no-repeat; /* Prevent background image from repeating to have only one image  */
    background-position: center; /* Center the background image */
}
 
 
/* Styling for the  form elements */
form{
background-color: white; /* Set background color to white */
padding: 20px; /* Add padding around form content */
width:300px; /* Set width to 300px */
height:auto; /* Set height to auto, adjusting based on content */
}

/* Styling for label elements */
label{
    display:block; /* Display labels as block elements */
    margin-bottom: 5px;/* Add margin at the bottom of each label */
}
/* Styling for input elements */
input{
    width: 100%; /* Set input width to 100% */
    padding: 6px; /* Add padding inside input */
    
}
/* Styling for button elements */
button{
    background-color: rgb(115, 169, 107); /* Set button background color */
    padding: 4px; /* Add padding inside button */
    margin-top: 10px; /* Add margin at the top of the button */
}
/* Styling for select elements */
select{
    display:block; /* Display select elements as block elements */
    margin-bottom: 5px; /* Add margin at the bottom of each select element */
}
/* Styling for option elements */
option{
    width: 30%; 
    padding: 6px;  
    
}
/* Styling for element with id "frm" */
#frm{
    background-color: white;  
    padding: 20px; /* Add padding around form content */
    box-shadow: black; /* Add box shadow effect */
    width:300px; /* Set width to 300px */
    height:auto; /* Set height to auto, adjusting based on content */
    }
       
  