/*header stling */
header {
    display: grid; /* use grid layout */
    grid-template-columns:  2fr 8fr 1fr 1fr; /*divid the header into four columns*/
    gap: 5px; /*set a gap of 5px between the grid items*/
    padding:0px; /* Set padding to 0 */
    height: 30px; /* Set height of the header */
    position: fixed; /* Fix the header position  so as it does not move with on scroll*/
    grid-column-end: -1;/* Span the header across all columns */
    
}
 /*section styles */
section{
    padding: 20px; /* Add padding inside the section with 20px */
    border-radius: 8px; /* Set border radius to create rounded corners */
    background-color: beige; /* Set background color to colour beige */
    text-align: center; /* have the text aligned at the center */
 }
  
  /* main styling */     
main{
      flex: 1;/*take remaining vertical space to ensure the footer is at the bottom most even with little contente in the screen*/
      font-weight: 900;/* Set font weight of 900 */
      top: 20px; /* Set top position */
    
    }
    
    /* Styling for elements with class "getus" */
.getus{
    display: grid; /* Use grid layout */
    grid-template-columns:  1fr 1fr 1fr; /* Divide the grid into 3 columns */
    gap: 10px; /* Set gap between grid items of 10px*/
    /*padding: 10px; /* Add padding inside the element distance between the wall and thecontent */
    height: 140px; /* Set height of the element to 70px */
     
        }
        /* Styling for element with id "reach_us" */
#reach_us{
            
     padding: 20px; /* Add padding inside the element distance between the wall and the content */
      border-radius: 8px; /* Set border radius to create rounded corners */    
      background-color: thistle; /* Set background color to thistle*/
      text-align: center; /* Center align text */
  }
  /* Footer styling */
footer {
            background-color:rgb(14, 6, 6); /* Set background color to black */
            color:rgb(246, 243, 243); /* Set text color to white*/ 
            text-align: center; /* Center align text */ 
              
            
     }
     /* Styling for element with id "copy" */
#copy{
            color:rgb(85, 255, 0); /* Set text color */
        

        }
  /* Body styling */
body{
    background-color: forestgreen; /* Set background color */

}

 
/* Styling specific to the "home" page */
#home{
     
    background-image: url('truck1.jpeg'); /* Set background image */   
    text-align: center; /* Center align text */
     background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image to oavoid several small images*/
    background-position: center; /* Center the background image */
   color: rgb(7, 66, 117);  /* Set text color */
   font-size: x-large; /* Set font size */
   
     
} 
/*table styling */
table {
     
    width: 80%; /* Adjust the width of the table */
    margin: 0 auto; /* Center the table horizontally */     
     /* Set body display to flex, align items and justify content to center to center content vertically and horizontally */
    
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 60px;;
}
th, td {
    border: 2px solid rgb(187, 169, 187);
    text-align: left;
    padding: 8px;
    /*style=" background-color: thistle; height:150px;width:700px;margin: 0 auto;*/
}
th {
    background-color:rgb(221, 213, 213);
}
 